.dashboard-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6ab2fd;
  color: #fff;
  padding: 0.5rem 1rem;
}

.dashboard-logo {
  display: flex;
  align-items: center;
}
.dashboard-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.dashboard-logo span {
  font-size: 1rem;
  font-weight: bold;
}

.dashboard-search {
  display: flex;
  align-items: center;
  background-color: #f7f4f4;
  border-radius: 1rem ;
  padding: 0.2rem 0.5rem;
  margin-right: 3rem;
}

.dashboard-search input[type="text"] {
  border: 2rem;
  outline: 10px;
  margin-right: 0.5rem;
  font-size: 0.1rem;
  color: white;
  background-color: transparent;
  width: 120px; 
}

.search-icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: #6ab2fd;
}

.dashboard-icons {
  display: flex;
}

.icon {
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.icon:first-child {
  margin-left: 0;
}
