/* Header container */
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #6ab2fd;
  color: whitesmoke;
}

/* Logo styling */
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 100%;
  cursor: pointer;
  color: yellowgreen;
}

/* Navbar links */
.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #666;
}

/* Toggle menu */
.toggle-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav_container {
    flex-direction: row;
    padding: 10px 10px;
  }

  .logo {
    margin-bottom: 10px;
  }

  .links {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  .toggle-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .toggle-menu.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .toggle-menu.open .bar:nth-child(2) {
    opacity: 0;
  }

  .toggle-menu.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .links.open {
    display: flex;
  }
}
